<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Known</title>

<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<script type="text/javascript" src="javascripts/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
  <script>
$("#login").hide();
$("#changeReg").on("click",function(){
  $("#login").hide();
  $("#reg").show();
});
$("#changeLog").on("click",function(){
  $("#login").show();
  $("#reg").hide();
});
</script>
</head>
<body>
 <div class="container">

     <div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <a class="brand" href="/">Known in Node</a>
    <ul class="nav">
      <li  class="divider-vertical"><a title="Home" href="/">Home</a></li>
      <li class="divider-vertical"> <a title="Archive" href="/archive">Archive</a></li>
      <li class="divider-vertical"><a title="Tags" href="/tags">Tags</a></li>
        <li class="divider-vertical"><a title="Links" href="/links">Links</a></li>
        <% if (user) { %>
      <li class="divider-vertical"><a title="Upload" href="/upload">Upload</a></li>
        <li class="divider-vertical"><a title="Post" href="/post">Post</a></li>
      <li class="divider-vertical"><a title="Logout" href="/logout">Logout</a></li>
        <% } else { %>
        <li class="divider-vertical"><a title="Login" href="/login">Login</a></li>
        <li class="divider-vertical"><a title="Register" href="/reg">Register</a></li>
        <li>
            <div  style="padding-top:0.4em">
  <span
    class="g-signin"
    data-callback="signinCallback"
    data-clientid="280634115168-3257h3s7595rcgpi4a1e7umko9bgvsek.apps.googleusercontent.com"
    data-cookiepolicy="single_host_origin"
    data-requestvisibleactions="http://schemas.google.com/AddActivity"
    data-scope="https://www.googleapis.com/auth/plus.login">
  </span></div>
</li>
         <% } %>
    </ul>
  </div>
</div>

     
     
     
     <div class="row-fluid">
  <div class="span12">
    <header>
<h1><%= title %></h1>
</header>
    <div class="row-fluid">
      <div class="span6">
        <article>

<% if (success) { %>
  <%= success %>
<% } %>
<% if (error) { %>
  <%= error %> 
<% } %>
    
