<%- include header %>

<ul style="list-style:none">
     
      <li>
      <h3><a href="https://www.Google.com">Google</a></h3>Good encyclopedia website<br><br>
    </li>
    
  <li>
      <h3><a href="https://www.wikipedia.org/">Wikipedia</a></h3>Good encyclopedia website<br><br>
    </li>
  <li>
      <h3><a href="http://baike.baidu.com/">Baidu</a></h3>Good encyclopedia website<br><br>
    </li>
 <li>
      <h3><a href="https://bing.com/">Bing</a></h3>Good encyclopedia website<br><br>
    </li>
     <li>
      <h3><a href="http://www.zhihu.com/">Zhihu</a></h3>Good encyclopedia website<br><br>
    </li>
    </ul>
 
<%- include footer %>