<%- include header %>

<form method="post">    
  <div class="control-group">
    <label class="control-label" for="inputEmail">User:</label>
    <div class="controls">
      <input type="text" id="inputUser" placeholder="User" name="name">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password:</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Password" name="password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input type="submit" class="btn" value="Submit"/>
    </div>
  </div>
</form>

<%- include footer %>