<%- include header %>
<form method="post">
  Title：<br />
  <input type="text" name="title" /><br />
  Tags：<br />
  <input type="text" name="tag1" /><br><input type="text" name="tag2" /><br><input type="text" name="tag3" /><br />
  Text：<br />
  <textarea name="post" rows="20" cols="100" class="span11" placeholder="Input your question..."></textarea><br />
  <input class="btn" type="submit" value="Submit" />
</form>
<%- include footer %>